/* public/ui/styles/animations.css */
@keyframes window-entry {
    0% {
        opacity: 0;
        transform: scale(0.95) translateY(5px);
    }

    100% {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

@keyframes window-exit {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(0.95);
    }
}