/* public/ui/styles/base.css */
body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    color: var(--text-main);
    font-family: var(--font-main);
    font-size: 15px;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 3px;
}